# Visual Studio 2015 cache directory
/.vs/
data.gzip
data.json
COVID-19inJapan/Assets/JapanMap/Fonts/DigitalDisplayRegular-ODEO SDF.asset
COVID-19inJapan/Assets/JapanMap/Fonts/DigitalDisplayRegular-ODEO SDF.asset.meta
COVID-19inJapan/Assets/JapanMap/Fonts/DigitalDisplayRegular-ODEO.ttf
COVID-19inJapan/Assets/JapanMap/Fonts/DigitalDisplayRegular-ODEO.ttf.meta
COVID-19inJapan/Assets/JapanMap/Fonts/SoukouMincho SDF.asset
COVID-19inJapan/Assets/JapanMap/Fonts/SoukouMincho SDF.asset.meta
COVID-19inJapan/Assets/JapanMap/Fonts/SoukouMincho.ttf
COVID-19inJapan/Assets/JapanMap/Fonts/SoukouMincho.ttf.meta
COVID-19inJapan/Assets/JapanMap/Fonts/SoukouMincho SDF.asset.meta
